body{
background: url(../img/fundo3.png);
margin: 0;
padding: 0;
font-family: "Open Sans", sans-serif;
background-size: cover;
background-attachment: fixed;
background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "antipastoregular", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }

* { 
    margin: 0; 
    padding: 0;
}

* {
    box-sizing: border-box;
  }
  

#header {
    padding: 10px 0;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background: rgba(0,0,0,0.3);

}
  
#header #logo {
    float: left;
}

#logo {
    margin-top: 5px;
    float: left;
}

#nav-menu-container ul li {
    display: inline;
}

.nav-menu {
    margin-top: 10px;
    list-style: none;
    float: right;
}

.nav-menu a {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0px 10px 0px 10px;
}

.nav-menu a:hover{
  color: rgba(255, 255, 255, 0.5);
   
}

.epic-titulo p img {
	margin-top: 100px;
    margin-left: 600px;
    position: absolute;
    opacity: 0.3;
}

.epic-titulo  h1 {
	margin-top: 118px;
    margin-left: 560px;
    position: absolute;
    color: white;
    font-size: 65px;
}
.epic-titulo  h3 {
	margin-top: 205px;
    margin-left: 460px;
    position: absolute;
    color: white;
    font-size: 65px;
}

.epic-texto  p {
	margin-top: 195px;
    margin-left: 290px;
    position: absolute;
    color: white;
    font-size: 25px;
    text-align: center;
}

.epic-texto  h1 {
	margin-top: 270px;
    margin-left: 580px;
    position: absolute;
    color: white;
    font-size: 50px;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{	
    transition: 0.2s;
	transform: scale(1.1);
}

.owl-carousel img {
    height: 391,922;
    width: 391,922;
    margin-top: 380px;
    border-radius: 50%;
    text-align: center;   
     
}

#botao_anterior, #botao_proximo {
    position: absolute;
    top: 440px;
}

#botao_anterior {
    left: 320px;
}

#botao_proximo {
    right: 360px;
}

.navegacao #botao_anterior {
    text-decoration: none;
    background: transparent;
    color: white;
    height: 40px;
    border: 0;
    padding: 32px;
}
.navegacao #botao_proximo {
    text-decoration: none;
    background: transparent;
    color: white;
    height: 40px;
    border: 0;
    padding: 32px;
}
#botao_anterior:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    
} 
#botao_proximo:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
} 

#botao1 {
    font-family: 'antipastoregular', sans-serif;
    margin-left: 5px;
    border: 2px solid #fff;
    border-radius: 8px;
    color: black;
    padding-bottom: 8px
   
 
}

#teste{
    margin-top: 125px;
    opacity: 0.4;
 
}
.centralizar {
    text-align: center;
}

#ed{
    margin-left: -90px;
}

p {
    color: white;
    font-family: Arista Pro Alternate Light;
    font-size: 25px;
}

#descricao {
    background-color: transparent;
    width: 500px;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    margin-left: -130px;
}

#public {
    background-color: transparent;
    width: 500px;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    margin-left: -130px;
}

#local {
    background-color: transparent;
    width: 500px;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    margin-left: -130px;
}

#foto {
    background-color: transparent;
    width: 500px;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    margin-left: -130px;
}

#inscricao {
    background-color: transparent;
    width: 500px;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    margin-left: -130px;
}

.escondido {
    display: none;
}

#bt1, #bt2, #bt3, #bt4, #bt5 {
    background: transparent;
    border: none;
    text-decoration: none;
    color: white;
    font-family: Arista Pro Alternate Light;
    font-size: 20px;
    margin-top: 380px;
    padding-bottom: 25px;   
    margin-right: 132px;
    margin-left: -120px;
    font-size: 30px;
    
    
}
button:hover{
    cursor: pointer;
}

*:focus {
    outline: 0 !important;
}

 #bt1:hover{
     color: gray;
     border-bottom:0.5px solid gray;
 }
 
 #bt2:hover{
    color: gray;
    border-bottom:0.5px solid gray;
}

#bt3:hover{
    color: gray;
    border-bottom:0.5px solid gray;
}

#bt4:hover{
    color: gray;
    border-bottom:0.5px solid gray;
}

#bt5:hover{
    color: gray;
    border-bottom:0.5px solid gray;
}

#botoes {
    margin-left: 280px;
}

#curso h4 {
    color: white;
    font-size: 1.2em;
    padding-right: 50px;
    background-color: #fff;
}

.btn {
    border-radius: 50px;
    padding: 7px 40px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 12px;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}


#curso img{
    margin-top: 200px;
    margin-left: -45px;
    
}

#curso:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
  
#curso .curso-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#curso .curso-container img {
    color: white;
    margin-top: -200px;
    font-size: 4.5em;
    font-weight: 700;
    line-height: 56px;
    opacity: 0.3;
}

#curso .curso-container h1 {
    color: #eee;
    margin-top: -33px;
    font-size: 4.8em;
    margin-bottom: 45px;
}

#curso .curso-container h3 {
    color: #eee;
    
    font-size: 2.8em;
 
}

#curso .curso-container {
    text-align: center;
}


.active > button {
    color:red;
}